<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>DTV</td><td>SampleTest.verifyDTV_Global_Navigation()[pri:0, instance:com.tests.SampleTest@d5c71264]<br/></td></tr>
</table>
