<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>somename</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ba5bb">  <td>19/06/11 13:52:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initiator.setUp(java.lang.reflect.Method)[pri:0, instance:com.tests.SampleTest@d5c71264]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1497213049</td>   <td></td> </tr>
<tr bgcolor="a6acb9">  <td>19/06/11 13:53:16</td>   <td>18276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.verifyDTV_Global_Navigation()[pri:0, instance:com.tests.SampleTest@d5c71264]">verifyDTV_Global_Navigation</td> 
  <td>main@1497213049</td>   <td></td> </tr>
</table>
