<h2>Reporter output</h2><table><tr><td>[13:53:17] : <b><FONT SIZE="2">Click on Bathroom Link</FONT></b><br></td></tr>
<tr><td>[13:53:18] : <b><FONT SIZE="2">Click on ExploreAll Link and wait until relative page opens up</FONT></b><br></td></tr>
<tr><td>[13:53:24] : <b><FONT SIZE="2">Wait untim Bathroom URL is displayed</FONT></b><br></td></tr>
<tr><td>[13:53:24] : <b><FONT SIZE="2">Wait untim DTV+ Carusel is displayed on Hero</FONT></b><br></td></tr>
<tr><td>[13:54:26] : <b><FONT SIZE="2">Click on DTV+ Carousel</FONT></b><br></td></tr>
<tr><td>[13:54:38] : <b><FONT SIZE="2">DTV page opened</FONT></b><br></td></tr>
<tr><td>[13:54:38] : <b><FONT SIZE="2">Global navigation visible on page</FONT></b><br></td></tr>
<tr><td>[13:54:42] : <b><FONT SIZE="2">Global Navigation not visible after scroll</FONT></b><br></td></tr>
<tr><td>Test completed : verifyDTV_Global_Navigation</td></tr>
</table>