<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.tests.SampleTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifylinksOtherToKohlerBrand</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySearchFunctionalityFunctionalityToLoadInternalWebSite</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPromoModuleGid</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyGenNavIdeasKitchenPlanner</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyDTV_Shower_Experience</td>
<td>DTV </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCopy_MyFolder</td>
<td>My Acc-Folder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyGenNavFindaStore</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyAccountEdit</td>
<td>My Acc-Folder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPDPPage_AddToCart</td>
<td>KohlerPDPPage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyGenNavBathroomProductBuyingGuide</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyDiscoverthePossibilities_AddtoFolder</td>
<td>My Acc-Folder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySignOut</td>
<td>My Acc-Folder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyFindAProInvalidZipCode</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySearchFunctionalityTermsDisplaySameResults</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyViewGallery</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyGenNavBathroomProducts</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyFoldepPageOptions</td>
<td>My Acc-Folder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPDPPage_Breadcrumbs_StoreLocator</td>
<td>KohlerPDPPage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHomePageTitle</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPDPPage_Options</td>
<td>KohlerPDPPage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPDPPage_CompareOverlayDisplay</td>
<td>KohlerPDPPage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHerocarousel</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyAddNewFolder</td>
<td>My Acc-Folder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyEdit_Delete_SignedIn</td>
<td>My Acc-Folder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyFindAProValidZipCode</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyGenNavChoreographShowerPlanner</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyArrows</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyGenNavKitchenProducts</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyTootip</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPDPPage</td>
<td>KohlerPDPPage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyDiscoverthePossibilities_Learnmore</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyDTV_WTB_Section</td>
<td>DTV </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyWorldWideCountries</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyFooterPressRoom</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPageTitleEndWithKOHLER</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyGenNavKitchenHelpUsToImprove</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySearchFunctionalityFaucet</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPDPPage_AddToCart_Signin</td>
<td>KohlerPDPPage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyGenNavIdeasSubMenuLinks</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPartsWizard</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyDTVPageTitle</td>
<td>DTV </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyDTV_Hero_Navigation</td>
<td>DTV </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCollectionsTurnedOffbyParts</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyGenNavIdeas</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyHomePageFooterLinks</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyDiscoverthePossibilities_NavCircles</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPromoImagesCount</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyDTVShareSection</td>
<td>DTV </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySearchFunctionalityArm</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHomePageURL</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySearchFunctionalityTou</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCompareModal</td>
<td>KohlerPDPPage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySearchFunctionalityToilets</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyDTV_Global_Navigation</td>
<td>DTV </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySearchFunctionalityVanity</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHelpUsToImproveMoreLink</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyDiscoverthePossibilities_HotSpots1</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyGenNavBathroom</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyDTV_Spa_Experience</td>
<td>DTV </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyBrandTrayVisibilityOnScrollDown</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyGenNavKitchen</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPDPPage_DiscontinuedProduct</td>
<td>KohlerPDPPage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySearchFunctionalityTw</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyAddtoFolderSignin</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySearchFunctionalityToLoadExternalWebSite</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyEdit_Delete_NotSignedIn</td>
<td>My Acc-Folder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyUtilityLinks</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPDPPage_Compare_Signin</td>
<td>KohlerPDPPage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyGenNavKitchenProductBuyingGuide</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyMove_MyFolder</td>
<td>My Acc-Folder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyDiscoverthePossibilities_HotSpots</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyOverlayDisplayPopup</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySignIn</td>
<td>My Acc-Folder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyArticlesTurnedOffbyParts</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyPDPPage_SellableServiceParts</td>
<td>KohlerPDPPage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySearchFunctionalityKitchen</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyNewLetterSignUpLinks</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySearchFunctionalityProduct</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyGenNavKitchenPlanner</td>
<td>GenNavigation </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySearchFunctionalityMemoirs</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyDiscoverthePossibilities_Arrows</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyDiscoverthePossibilities_AddtoFolder_HomePage</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyButtons</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyDTVPageLoad</td>
<td>DTV </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySearchFunctionalityMoxie</td>
<td>Search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyDiscoverthePossibilities_Share</td>
<td>HomePage </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifySearchFunctionalityInspirationResource</td>
<td>Search </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
