<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>HomePage</td><td>SampleTest.VerifyHelpUsToImproveMoreLink()[pri:0, instance:com.tests.SampleTest@ea654b0]<br/></td></tr>
</table>
