<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6e4a7">  <td>19/06/11 13:42:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.VerifyHelpUsToImproveMoreLink()[pri:0, instance:com.tests.SampleTest@ea654b0]">VerifyHelpUsToImproveMoreLink</td> 
  <td>main@836966320</td>   <td></td> </tr>
<tr bgcolor="ed87ef">  <td>19/06/11 13:41:59</td>   <td>-19304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initiator.setUp(java.lang.reflect.Method)[pri:0, instance:com.tests.SampleTest@ea654b0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@836966320</td>   <td></td> </tr>
</table>
