<h2>Methods that were not run</h2><table>
<tr><td>com.tests.SampleTest.VerifyDiscoverthePossibilities_AddtoFolder_HomePage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifySearchFunctionalityMemoirs<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify search and collection is displayed </i></td></tr>
<tr><td>com.tests.SampleTest.VerifyDiscoverthePossibilities_Arrows<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page - Discover the Possibilities</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyButtons<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyGenNavKitchenPlanner<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify General navigation->Kitchen->Planner</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyDiscoverthePossibilities_Share<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page - Discover the Possibilities</i></td></tr>
<tr><td>com.tests.SampleTest.VerifySearchFunctionalityInspirationResource<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Inspiration tabs </i></td></tr>
<tr><td>com.tests.SampleTest.VerifySearchFunctionalityMoxie<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify search and moxie aricle is displayed </i></td></tr>
<tr><td>com.tests.SampleTest.verifyDTVPageLoad<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify DTV Page Load</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyOverlayDisplayPopup<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyMove_MyFolder<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Move Action from My folder</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyDiscoverthePossibilities_HotSpots<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page - Discover the Possibilities</i></td></tr>
<tr><td>com.tests.SampleTest.verifyUtilityLinks<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify utility bar and links</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyNewLetterSignUpLinks<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify NewsLetter Sign Up Links/functioanlity</i></td></tr>
<tr><td>com.tests.SampleTest.VerifySearchFunctionalityKitchen<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify access to Kitchen section landing page </i></td></tr>
<tr><td>com.tests.SampleTest.VerifyArticlesTurnedOffbyParts<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Articles are turned off by Parts</i></td></tr>
<tr><td>com.tests.SampleTest.VerifySearchFunctionalityProduct<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify access to Product detail page </i></td></tr>
<tr><td>com.tests.SampleTest.VerifySignIn<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying Sign in</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPDPPage_SellableServiceParts<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify SellableServicepart added to cart</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyGenNavBathroom<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify General Navigation->Bathroom</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyDiscoverthePossibilities_HotSpots1<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page - Discover the Possibilities</i></td></tr>
<tr><td>com.tests.SampleTest.verifyDTV_Spa_Experience<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Spa Experience</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyBrandTrayVisibilityOnScrollDown<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Brand tray visibility on scroll down</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyAddtoFolderSignin<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home-Page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyEdit_Delete_NotSignedIn<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying Edit and delete action items from my folder for Not signed in</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPDPPage_DiscontinuedProduct<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Discontinued PDP page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyGenNavKitchen<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify General Navigation->Kitchen</i></td></tr>
<tr><td>com.tests.SampleTest.VerifySearchFunctionalityToLoadExternalWebSite<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify search and page loads to external website </i></td></tr>
<tr><td>com.tests.SampleTest.VerifySearchFunctionalityTw<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify search and results for 'did you mean two? </i></td></tr>
<tr><td>com.tests.SampleTest.VerifyHomePageURL<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Home Page URL</i></td></tr>
<tr><td>com.tests.SampleTest.VerifySearchFunctionalityArm<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify search for keyword Arm </i></td></tr>
<tr><td>com.tests.SampleTest.VerifySearchFunctionalityTou<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify typeahead with 3 letters </i></td></tr>
<tr><td>com.tests.SampleTest.verifyDTVShareSection<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify DTV Share Section</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPromoImagesCount<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page - KCC (#KohlerIdeas)</i></td></tr>
<tr><td>com.tests.SampleTest.verifyDTV_Global_Navigation<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify DTV Global Nav</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyCompareModal<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Compare Modal</i></td></tr>
<tr><td>com.tests.SampleTest.VerifySearchFunctionalityToilets<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify access to Toilets category landing page </i></td></tr>
<tr><td>com.tests.SampleTest.VerifySearchFunctionalityVanity<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify access to Vanity category landing page </i></td></tr>
<tr><td>com.tests.SampleTest.VerifyGenNavIdeasSubMenuLinks<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify General Navigation->ideas->Sub menu Links</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPartsWizard<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Parts Wizard functioanlity</i></td></tr>
<tr><td>com.tests.SampleTest.verifyDTVPageTitle<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify DTV Page Title</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPDPPage_AddToCart_Signin<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Search and Add product to cart after signed In</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyGenNavIdeas<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify General Navigation->ideas</i></td></tr>
<tr><td>com.tests.SampleTest.verifyHomePageFooterLinks<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Fotter link</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyDiscoverthePossibilities_NavCircles<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page - Discover the Possibilities</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyCollectionsTurnedOffbyParts<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Collections are turned off by Parts</i></td></tr>
<tr><td>com.tests.SampleTest.verifyDTV_WTB_Section<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify DTV Page Load</i></td></tr>
<tr><td>com.tests.SampleTest.verifyDTV_Hero_Navigation<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify DTV Hero Nav</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyWorldWideCountries<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify World wide expansion and countries</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyFooterPressRoom<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Footer->Press Room</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyDiscoverthePossibilities_Learnmore<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page - Discover the Possibilities</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyGenNavKitchenHelpUsToImprove<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify General Navigation->Kitchen->HelpUsToImprove Link</i></td></tr>
<tr><td>com.tests.SampleTest.VerifySearchFunctionalityFaucet<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify access to Faucet category landing page </i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPageTitleEndWithKOHLER<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Page Title End With KOHLER</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyHerocarousel<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Hero and nav dots functionality</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPDPPage_CompareOverlayDisplay<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify compare overlay displays and Dissapear</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyFoldepPageOptions<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Copy Action from My folder</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyGenNavKitchenProducts<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify General Navigation->Kitchen->Sub menu links</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyGenNavKitchenProductBuyingGuide<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify General Navigation->Kitchen->ProductBuyingGuide link/Share Functioanlity</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPDPPage_Compare_Signin<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Search and comapare product after signed In</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyArrows<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyTootip<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPDPPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>PDP Page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPDPPage_Breadcrumbs_StoreLocator<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>PDP Page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyHomePageTitle<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Home page title</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyAddNewFolder<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify creating new folder and access of new folder</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyFindAProValidZipCode<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Find a Pro Functioanlity with valid Zip code</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPDPPage_Options<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Options PDP page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyGenNavChoreographShowerPlanner<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify General Navigation->choreographShowerPlanner link</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPDPPage_AddToCart<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Add To Cart</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyGenNavIdeasKitchenPlanner<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify General Navigation->ideas->Kitchen Planner</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyCopy_MyFolder<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Copy Action from My folder</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyAccountEdit<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Account edit</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyEdit_Delete_SignedIn<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying Edit and delete action from my folder items for signed in</i></td></tr>
<tr><td>com.tests.SampleTest.VerifySearchFunctionalityFunctionalityToLoadInternalWebSite<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify search and page loads to internal website </i></td></tr>
<tr><td>com.tests.SampleTest.VerifyGenNavFindaStore<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify General navigation->Find a store</i></td></tr>
<tr><td>com.tests.SampleTest.VerifylinksOtherToKohlerBrand<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Links other then kohler opens in new window</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyPromoModuleGid<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page - Promo Grid</i></td></tr>
<tr><td>com.tests.SampleTest.verifyDTV_Shower_Experience<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Shower Experience</i></td></tr>
<tr><td>com.tests.SampleTest.VerifySignOut<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verifying Sign out</i></td></tr>
<tr><td>com.tests.SampleTest.VerifySearchFunctionalityTermsDisplaySameResults<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i> Verify each term display the same results</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyViewGallery<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyGenNavBathroomProducts<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify General Navigation->Bathroom->Sub menu links</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyGenNavBathroomProductBuyingGuide<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify General Navigation->Bathroom->ProductBuyingGuide link/Share Functioanlity</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyFindAProInvalidZipCode<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Find a Pro Functioanlity with invalid Zip code</i></td></tr>
<tr><td>com.tests.SampleTest.VerifyDiscoverthePossibilities_AddtoFolder<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Home Page</i></td></tr>
</table>